<% if user_signed_in? %>
  <%= current_user.name %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<div class="container-fluid">
  <h1 class="">棚卸し状況</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">商品CD</th>
        <th scope="col">JAN</th>
        <th scope="col">品名・色</th>
        <th scope="col">棚卸数量</th>
        <th scope="col">棚卸前数量</th>
        <th scope="col">差異数</th>
      </tr>
    </thead>
    <tbody>
    <% @counts.each do |count| %>


    </tbody>
    <% end %>
  </table>
</div>